<html>
<!-- background-color: lightblue; -->
{% load static %}
{% load tag %}
<head>
<style>
body {

  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}
h2 {
  color: gold;
  text-align: center;
}

p {
  font-family: arial;
  color: gold
  font-size: 20px;
}

</style>
</head>
<body>
<h1>My First CSS Example</h1>
<h2>This is a paragraph.</h2>
<p><center><b>Hola que tal</b></center></p>
<div id="id_div">
    {% hello_world 'Seccion 2 Vinna' as salute_text %}
    <strong> {{ salute_text }} </strong>
</div>
</body>
</html>